{% extends "urlparser/wrapper.html" %}

{%  block content %}
	<textarea id="validation" cols="65" rows="30" style="resize:vertical">

	</textarea>

	<textarea id="prasedData" cols="150" rows="30" style="resize:vertical">

	</textarea>
	<script type="text/javascript">
		var socket = new WebSocket('ws://'+window.location.host)

		socket.onmessage = function(e) {
			var data = JSON.parse(e.data)
			var urls = data['urls'];
			var dates = data['dates'];
			var titles = data['titles'];
			var headers = data['headers'];
			var charsets = data['charsets'];
			var isParsed = data['isParsed'];
			var isSucceed = data['isSucceed'];

			dateToShow = ''
			for (let i = 0; i < dates.length; i++){
				temp = new Date(dates[i])
				dateToShow += "дата "+temp.getDate()+"."
				if(temp.getMonth()+1 < 10)
					dateToShow += "0"
				dateToShow+=(temp.getMonth()+1)+"."+temp.getFullYear()+" "+temp.getUTCHours()+":"+temp.getMinutes()+":"+temp.getSeconds() +" UTC"

				if(isSucceed[i])
					dateToShow += ", удачно "
				else
					dateToShow += ", неудачно"
				dateToShow += "\n"
			}

			document.querySelector('#validation').value = dateToShow

			values = ''
			for(let i = 0; i < urls.length; i++){
				if(isParsed[i]){
					values += urls[i]
					if(titles[i].length > 0)
						values +=" - TITLE: " + titles[i].replace('<title>', "").replace('</title>', "").trim()
					if(charsets[i].length > 0 && charsets[i].toLowerCase() != 'none')
						values +=" CHARSET: " + charsets[i]
					if(headers[i].length > 0 && headers[i].toLowerCase() != 'none')
						values += " H1's: "+headers[i].trim()
					values += "\n"
				}
			}
			document.querySelector('#prasedData').value = values
		}

	setInterval(() => {
		var message = "echo"
		socket.send(JSON.stringify({
			'message': message
		}))
	}, 2000)

	socket.onopen = function(){
		socket.send(JSON.stringify({
			'message': "echo"
		}))
	}
	</script>
{% endblock %}